<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/assets/css/global/base/variables.css">
		<link rel="stylesheet" href="/assets/css/global/base/fonts.css">
		<link rel="stylesheet" href="/assets/css/global/base/global-styles.css">
		<link rel="stylesheet" href="/assets/css/global/blocks/text-gradient.css">
		<title>{{ title }}</title>
	</head>
	<body>
		{% block content %}Content placeholder{% endblock %}
	</body>
</html>
